.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcuserstate
*.pbxuser
/appstore-metadata-updater/AppStoreConfiguration.swift
/Sources/DeepLApiKey.swift
/Sources/AppStoreConfiguration.swift
